<body>
    <img src="../../favicon.ico" class="logo">
    <div class="content">
        <h2>Feux d'artifice du moment</h2>
        <div class="listFireworks">
            <ul><app-firework-item *ngFor="let firework of getFireworks()"
                [id] = "firework.id"
                [city] = "firework.city"
                [address] = "firework.address"
                [date] = "firework.date"
                [price] = "firework.price"
                [handicapAccess] = "firework.handicapAccess"
                [duration] = "firework.duration"
                [crowed] = "firework.crowed"></app-firework-item>
            </ul>
        </div>
        <a routerLink="/edit">Ajouter un feu d'artifice</a> 
    </div>

    <h6 class="names">Réalisé par Martel Benjamin et Meinas Julien</h6>
</body>
