    <div class="container">
      <img class="rounded mx-auto d-block p-2" src="../../favicon.ico">
      <div class="row border border-dark p-3">
          <h1>Nous contacter</h1>
            <p>Dans le cadre de notre Projet Plantine du Master Informatique e-Service, nous avons, Julien Meinas, Benjamin Martel et Jean Claude Tarby, développé l'application FireMap.</p>
            <p>FireMap est une application sur smartphone qui permet de localiser les prochains feux d'artifices sur une carte ou une liste, de savoir où et quand ils ont lieu, de trouver le moyen de s'y rendre, des informations diverses,  etc., et également d’avoir des informations sur les artificiers. </p>
            <p>Si vous souaitez nous poser une question,  signaler une erreur ou suivre notre activité veuillez vous diriger vers notre page <a href="https://www.facebook.com/FireMap-100749375134966/"> Facebook </a></p>
          </div>
        <div class="navbar fixed-bottom">
          <footer>Réalisé par Martel Benjamin et Meinas Julien</footer>
        </div>
    </div>
