body {
    position: fixed;
    height: 100%;
}

h2{
    padding: 10px;
}

div.content {
    border: solid;
    border-color: rgb(156, 145, 145);
    padding: 15px;
    margin: auto;
    width: 1320px;
}

p {
    font-size: 20px;
}

img.logo {
    position: fixed;
    right: 0;
    height: 80px;
    width: 80px;
}

h6.names {
    position: fixed;
    right: 0;
    bottom: 0;
}
