a {
    color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 2px;
    padding: 3px;
    display: inline-block;
    height: 30px;
}

div.navbar {
    height: 30px;
    background-color: rgb(86, 83, 221);
}

