<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form (ngSubmit)=onSubmit(f) #f = "ngForm">
            <div class="form-group">
                <label for="city"> 
                    Ville 
                </label>
                <input type="text" id="city" class="form-control" name="city" ngModel>
                <label style="background-color: red" *ngIf="validCity == false">Veuillez entrer un champs valide !</label>
            </div>

            <div class="form-group">
                <label for="address">
                    Addresse
                </label>
                <input type="text" id="address" class="form-control" name="address" ngModel>
                <label style="background-color: red" *ngIf="validAddress == false">Veuillez entrer un champs valide !</label>
            </div>

            <div class="form-group">
                <label for="date">
                    Date
                </label>
                <input type="text" id="date" class="form-control" name="date" ngModel>
                <label style="background-color: red" *ngIf="validDate == false">Veuillez entrer un champs valide !</label>
            </div>

            <div class="form-group">
                <label for="price">
                    Prix
                </label>
                <select id="price" class="form-control" name="price" ngModel>
                    <option value="Gratuit">Gratuit</option>
                    <option value="Payant">Payant</option>
                </select>
                <label style="background-color: red" *ngIf="validPrice == false">Veuillez entrer un champs valide !</label>
            </div>

            <div class="form-group">
                <label for="accessHandicap">
                    Accès handicapé
                </label>
                <select id="accessHandicap" class="form-control" name="accessHandicap" ngModel>
                    <option value="Oui">Oui</option>
                    <option value="Non">Non</option>
                </select>
                <label style="background-color: red" *ngIf="validHandicapAccess == false">Veuillez entrer un champs valide !</label>
            </div>

            <div class="form-group">
                <label for="duration">
                    durée
                </label>
                <select id="duration" class="form-control" name="duration" ngModel>
                    <option value="Court">Court</option>
                    <option value="Moyen">Moyen</option>
                    <option value="Long">Long</option>
                </select>
                <label style="background-color: red" *ngIf="validDuration == false">Veuillez entrer un champs valide !</label>
            </div>

            <div class="form-control">
                <label for="crowded">
                    public
                </label>
                <select id="crowded" class="form-control" name="crowded" ngModel>
                    <option value="Peu de gens">Peu de gens</option>
                    <option value="Moyennement de gens">Moyennement de gens</option>
                    <option value="Beaucoup de gens">Beaucoup de gens</option>
                </select>
                <label style="background-color: red" *ngIf="validCrowed == false">Veuillez entrer un champs valide !</label>
            </div>

            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
    </div>
</div>