body {
    position: fixed;
    height: 100%;
}

h2{
    padding: 10px;
}

div.content {
    border: solid;
    border-color: rgb(156, 145, 145);
    padding: 15px;
    margin: 15px;
    width: 1320px;
}

p {
    font-size: 20px;
}

img.logo {
    position: relative;
    height: 80px;
    width: 80px;
    top: 0px;
    right: -1300px;
}

h6.names {
    position: relative;
    top: 300px;
    right: -1200px;
}