body {
    background-color: #c2e9fb;
    position: fixed;
    height: 100%;
    width: 100%;
}

h2{
    padding: 30px;
}

div.content {
    background-color: #c3cfe2;
    padding: 15px;
    margin: 15px;
}

p {
    font-size: 20px;
}

img.logo {
    position: relative;
    height: 80px;
    width: 80px;
    top: -100px;
    right: -1300px;
}

h6.names {
    position: relative;
    top: 300px;
    right: -1200px;
}