<body>
    <div class="container">
      <img class="rounded mx-auto d-block p-2" src="../../favicon.ico">
      <div class="row border border-dark p-3">
        <h1>Accueil</h1>
        <p>
            Bienvenue sur la page de notre application mobile FireMap, cette application vous permet de trouver facilement, rapidement et
            efficassement un feu d'artifice près de chez vous.<br>
        </p>
        <p>
            A l'aide de cette application vous pouvez rechercher les feux d'artifce soit à l'aide d'une carte, soit à l'aide d'un affichage
            sous forme d'une liste.<br>
        </p>
        <p>
            Vous pouvez également ajouter ou modifier un feu d'artifice.<br>
        </p>
        <p>
            Dans l'onglet <a routerLink="/firework">Feu d'artifice</a> vous pouvez voir les feux d'artifice du moment et dans <a routerLink="/contact">Contact</a> vous pouvez nous contacter.
        </p>
    </div>

    <div class="navbar fixed-bottom">
      <footer>Réalisé par Martel Benjamin et Meinas Julien</footer>
    </div>
    </div>
</body>
