<body>
    <img src="../../favicon.ico" class="logo">
    <div class="content">
        <h2>Accueil</h2>
        <p>
            Bienvenue sur la page de notre application mobile FireMap, cette application vous permet de trouver facilement, rapidement et
            efficassement un feu d'artifice près de chez vous.<br>
        </p>
        <p>
            A l'aide de cette application vous pouvez rechercher les feux d'artifce soit à l'aide d'une carte, soit à l'aide d'un affichage
            sous forme d'une liste.<br>
        </p>
        <p>
            Vous pouvez également ajouter ou modifier un feu d'artifice.<br>
        </p>
        <p>
            Dans l'onglet <a routerLink="/firework">Feu d'artifice</a> vous pouvez voir les feux d'artifice du moment et dans <a routerLink="/contact">Contact</a> vous pouvez nous contacter.
        </p>
    </div>
    <h6 class="names">Réalisé par Martel Benjamin et Meinas Julien</h6>
</body>
